*{
    font-family: Arial;
}
header{
    height: 55px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 1);
}
header h1{
    font-weight: 600;
    font-size: 20px;
}
.princ_div{
    margin-left: 146px;
    margin-right: 146px;
    margin-top: 40px;
    width: 80%;
    height: 828px;
}
.pesquisa-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.container_buttons{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

}
.pesquisa_space{
    display: flex;
    flex-direction: row;

}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 26px;
    margin-right: 10px;
    box-sizing: border-box;
    gap: 10px;
    background-color: rgba(18, 184, 134, 0.05);
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    color: #12B886;
    font-weight: 600;
}
.fix-mode{
    background-color: #12B886;
    color: #FFFFFF;
    cursor: pointer;
}
.button:hover{
    background-color: #12B886;
    color: white;
    cursor: pointer;
}
input{
    width: 324px;
    height: 52px;
    border-radius: 8px;
    background-color: F1F3F5;
    color: #515252;
    padding-left: 10px;
    font-weight: 600;
    font-size: 15px;
}
.button-pes{
    background-color: #12B886;
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    margin-left: 10px;
    width: 59px;
    height: 56px;
}
.button-pes:hover{
    background-color: yellow;
    cursor: pointer;
}
.button-pes img{
    width: 50%;
}
.preco_produtos{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    justify-content: space-between;
}
.base-preco{
    padding-top: 12px;
    display: flex;
    flex-direction: row;
}
.mini_tag{
    padding-top: 12px;
    color: #12B886;
    margin-left: 20px;
}
.p_valor{
    margin-left: 20px;
    padding-top: 12px;
}
.valor{
    margin-top: 15px;
    background-color: #212529;
    color: white;
    width: 80px;
    border-radius: 4px;
    height: 35px;
    padding: 8px 0 0 20px;
    font-weight: 600;

}
.container_card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 110%;
}

.container_card li {
    width: 250px;
    margin-right: 26px;
    margin-top: 30px;
    border-radius: 7px;
}
.container_card li:hover {
    opacity: 80%;
    cursor: pointer;
}
.container_card img{
    width: 250px;
    height: 150px;
}
.container_card li h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 7px 0 7px;
    color: #212529;
}
.container_card li span {
    font-size: 12px;
    font-weight: 400;
    color: #868E96;
}
.container_card li p {
    font-size: 12px;
    font-weight: 600;
    color: #212529;
    margin-top: 7px;
}